body{
    padding:0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header figure{
    padding:0;
    margin:0;
}

#BeckIcon{
    float:left;
}

header #jumbotron{
	height: 90vh;
	width:100%;
	background-size: cover;
}

#txtOverlay{
    position: absolute;
    top:40%;
    left:20%;
    color:white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#welcomeInfo{
    position:relative;
}

.content-wrap{
    margin: 0 250px 0 250px;
}

.SectHeading{
    text-align: center;
    font-weight: bold;
    font-size:30px;
}

.content{
    padding: 40px 0 40px 0;
}

#BorderSect{
    border-bottom: 2px solid lightgrey;
    border-top: 2px solid lightgrey;
}

label{
    color:lightgray;
}

#searchlbl{
    margin-left:390px;

}

fieldset{
    border:none;
}

#search{
	width:80vh;
    height:40px;
    float:left;
    color:grey;
	border: 1px groove lightgrey;
	text-align: center;
    font-size:15px;
    margin-top:2px;
    margin-left:18px;
}


.submitbutton{
    background-color: green;
    float:left;
    color:white;
    height:45px;
    width:20vh;
    font-size:16pt;
    border: none;
    margin-left:30px;
    cursor:pointer;
}

button:hover{
    text-decoration: underline;
}

#recordsDisplay{
    padding: 20px 0 20px 0;
}

.musicImage{
    float:left;
    height:100px;
    padding-left: 90px;
    padding-right:10px;
    border-right: 2px groove lightgrey;;
}

.musicrecord{
    padding: 20px 0 20px 0;
    border: 1px groove lightgrey;
    border-radius: 5px;
    height:13vh;
    width:60vh;
    margin-left:200px;
    margin-bottom:30px;
}

.SongTtl{
    padding:0;
    margin:0;
    font-size:30px;
    font-weight: bold;
}

.MusicDets{
    margin-left:220px;

}

.MusicDets p{
    padding:0;
    margin:0;

}

#NewRecord{
    border: 1px dashed green;
}

#NewRecord label{
    font-size:20px;

    margin-left:250px;
}

#NewRecIcon{
    margin-left:380px;
    margin-top:20px;
}

#NewRecord p{
    padding-top:20px;
}

#NewRecord input{
    width:40vh;
    height:30px;
    padding-bottom:5px;
    margin-right:180px;
    float:right;
}

#NewRecord .submitbutton{
    margin: 20px 0 10px 380px;
}


#footerstyles{
    padding: 30px;
    background-color:green;
    color:white;
    text-align: center;
    font-size: 15px;

}

footer{
    background: green;

}

cite{
    font-size: 5px;
}
